.row
  .col-xs-12
    %h1 Departments
    = link_to 'New Department', new_department_path, class: 'btn btn-primary new-button pull-right'


%table.table
  %thead
    %tr
      %th Name
      %th Supervisor
      %th
      %th
      %th

  %tbody
    - @departments.each do |department|
      %tr
        %td= department.name
        %td= department.user_id
        %td= link_to 'Show', department
        %td= link_to 'Edit', edit_department_path(department)
        %td= link_to 'Destroy', department, :method => :delete, :data => { :confirm => 'Are you sure?' }
    - unless @departments.any?
      %tr
        %td{:colspan => 5}
          There are no departments
