.page-header
  = link_to "#", class: 'btn btn-default', onclick: "history.go(-1);" do
    %span.glyphicon.glyphicon-list-alt
    Back
  = link_to edit_department_path(@department), class: 'btn btn-primary' do
    %span.glyphicon.glyphicon-pencil
    Edit
  %h1 Show department

%dl.dl-horizontal
  %dt Name:
  %dd= @department.name
  %dt User:
  %dd= @department.user.try(:email)
  %dt Contacts:
  %dd 
    =link_to contacts_path(department_id: @department.id) do
      #{@department.contacts.size} Contacts
