<h1>Sales Report</h1>

<table class="table table-striped">
  <tr>
    <th>Date</th>
    <th>Vehicle ID</th>
    <th>Make/Model</th>
    <th>Location</th>
    <th>SalesMan</th>
  </tr>

  <% @sales.each do |sale| %>
    <tr>
      <td><%= sale.created_at.strftime("%Y-%m-%d") %></td>
      <td><%= sale.id %></td>
      <td><%= "#{sale.vehicle.make}/#{sale.vehicle.model}" %></td>
      <td><%= sale.vehicle.location.name %></td>
      <td><%= sale.user.email %></td>
    </tr>
  <% end %>
</table>