<%= form_for(@vehicle) do |f| %>
  <% if @vehicle.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@vehicle.errors.count, "error") %> prohibited this vehicle from being saved:</h2>

      <ul>
      <% @vehicle.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :year %><br>
    <%= @vehicle.year %>
  </div>
  <div class="field">
    <%= f.label :make %><br>
    <%= @vehicle.make %>
  </div>
  <div class="field">
    <%= f.label :model %><br>
    <%= @vehicle.model %>
  </div>
  <div class="field">
    <%= f.label :vin %><br>
    <%= @vehicle.vin %>
  </div>
  <div class="field">
    <%= f.label :sales_price %><br>
    <%= f.text_field :sold_price %>
  </div>
  <div class="field">
    <%= f.label :sold_by %><br>
    <%= session[:current_user] %>
  </div>
  <div class="field" style="display:none;">
    <%= f.label :available %><br>
    <%= f.check_box :available, { checked: false } %>
    <%= f.label :user_id %><br>
    <%= f.text_field :user_id, :value => session[:current_user_id] %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
