<%= form_for(location) do |f| %>
    <% if location.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(location.errors.count, "error") %> prohibited this location from being saved:</h2>

          <ul>
            <% location.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="row">
      <div class="col-xs-7">
        <div class="form-group">
          <%= f.label :name %>
          <%= f.text_field :name, class: "form-control", placeholder: "Name" %><br/>

          <div class="form-group">
            <%= f.label :street %>
            <%= f.text_field :street, class: "form-control", placeholder: "Street" %>
          </div>

          <div class="row">
            <div class="col-xs-6">
              <div class="form-group">
                <%= f.label :city %>
                <%= f.text_field :city, class: "form-control", placeholder: "City" %>
              </div>
            </div>

            <div class="col-xs-3">
              <div class="form-group">
                <%= f.label :state %>
                <%= f.text_field :state, class: "form-control", placeholder: "State" %>
              </div>

            </div>

            <div class="col-xs-3">
              <div class="form-group">
                <%= f.label :zip %>
                <%= f.text_field :zip, class: "form-control", placeholder: "Zip" %>
              </div>

            </div>
          </div>

          <div class="row">
            <div class="col-xs-4">
              <div class="form-group">
              <%= f.label :phone %>
              <%= f.text_field :phone, class: "form-control", placeholder: "Phone" %>
                </div>
            </div>
          </div>

        </div>
      </div>
    </div>


    <%= f.submit %>

<% end %>
