<div>
  <table>
    <thead>
    <tr>
      <th>Location Name</th>
      <th colspan="3">Actions</th>
    </tr>
    </thead>
    <tbody>
    <% @locations.each do |location| %>
        <tr>
          <td><%= location.name %></td>
          <td><%= link_to 'View', location %></td>
          <td><%= link_to 'Edit', edit_location_path(location) %></td>
          <td><%= link_to 'Delete', location, method: :delete, data:
              { confirm: 'Are you sure you want to delete this locations?' } %></td>
        </tr>
    <% end %>
    </tbody>

  </table>

  <%= link_to 'New Location', new_location_path, class: 'btn' %>
  <p id="notice"><%= notice %></p>


</div>
