<div class='twelve columns'>
  <div class='center'>
    <h3><%= current_user.email %>'s contacts </h3>
    <%= link_to 'Add Contact', new_contact_path, class: 'button' %>
    <hr>
  </div>

  <div class='container'>
    <% if @contacts.any? %>
      <table>
        <thead>
          <tr>
            <th>Name</th>
            <th>Department</th>
            <th>Business Phone</th>
            <th>Extension</th>
            <th>Home Phone</th>
            <th colspan='2'>Emergency Contact Info</th>
            <th>Active</th>
          </tr>
        </thead>
        <tbody>
          <% @contacts.each do |contact| %>
            <tr class="<%= contact.active ? '' : 'deactive' %>">
              <td><%= link_to contact.name, contact_path(contact) %></td>
              <td><%= contact.department %></td>
              <td><%= contact.business_phone %></td>
              <td><%= contact.extension %></td>
              <td><%= contact.home_phone %></td>
              <td><%= contact.emergency_contact_name %></td>
              <td><%= contact.emergency_contact_phone %></td>
              <td>
                <% if contact.user_id == current_user.id %>
                  <%= link_to active_contact_path(contact), method: :put do %>
                    <%= contact.active ? 'Yes' : 'No' %>
                  <% end %>
                <% else %>
                  <%= contact.active ? 'Yes' : 'No' %>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% else %>
      <div class='center'>
        <h3>Nothing to see here</h3>
      </div>
    <% end %>
  </div>
</div>
