<%= form_for(car_detail) do |f| %>
  <% if car_detail.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(car_detail.errors.count, "error") %> prohibited this car_detail from being saved:</h2>

      <ul>
      <% car_detail.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :year %>
    <%= f.number_field :year %>
  </div>

  <div class="field">
    <%= f.label :make %>
    <%= f.text_field :make %>
  </div>

  <div class="field">
    <%= f.label :model %>
    <%= f.text_field :model %>
  </div>

  <div class="field">
    <%= f.label :engine %>
    <%= f.text_field :engine %>
  </div>

  <div class="field">
    <%= f.label :color %>
    <%= f.text_field :color %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
