<p id="notice"><%= notice %></p>

<h1>Contacts</h1>

<div class="filter_options_container">

  <%= form_tag contacts_path, method: "get", id: "filter", class: "filter" do %>
    Department:
    <%= select_tag :department_id, options_from_collection_for_select(@departments, :id, :name), prompt: 'Select to Filter', :onchange => 'submit()'  %>
  <% end %>
</div>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Department</th>
      <th>Manager</th>
      <th>Business phone</th>
      <th>Extension</th>
      <th>Home phone</th>
      <th>Emergency contact</th>
      <th>Emergency phone</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @contacts.each do |contact| %>
      <tr>
        <td><%= contact.name %></td>
        <td><%= contact.department.name if contact.department %></td>
        <td><%= contact.manager.name if contact.manager %></td>
        <td><%= contact.business_phone %></td>
        <td><%= contact.extension %></td>
        <td><%= contact.home_phone %></td>
        <td><%= contact.emergency_contact %></td>
        <td><%= contact.emergency_phone %></td>
        <td><%= link_to 'Show', contact %></td>
        <td><%= link_to 'Edit', edit_contact_path(contact) %></td>
        <td><%= link_to 'Destroy', contact, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Contact', new_contact_path %>
