<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @contact.name %>
</p>

<p>
  <strong>Department:</strong>
  <%= @contact.department.name if @contact.department %>
</p>

<p>
  <strong>Manager:</strong>
  <%= @contact.manager.name if @contact.manager %>
</p>

<p>
  <strong>Business phone:</strong>
  <%= @contact.business_phone %>
</p>

<p>
  <strong>Extension:</strong>
  <%= @contact.extension %>
</p>

<p>
  <strong>Home phone:</strong>
  <%= @contact.home_phone %>
</p>

<p>
  <strong>Emergency contact:</strong>
  <%= @contact.emergency_contact %>
</p>

<p>
  <strong>Emergency phone:</strong>
  <%= @contact.emergency_phone %>
</p>

<p>
  <strong>Active:</strong>
  <%= @contact.active %>
</p>

<%= link_to 'Edit', edit_contact_path(@contact) %> |
<%= link_to 'Back', contacts_path %>
