<div class="container">
  <div class="row justify-content-center title-padding">
    <h1><%= "Cars"%><h1>
  </div>

  <div class="row">
    <table class="table">
      <thead>
        <tr>
          <th>Make</th>
          <th>Model</th>
          <th>Price</th>
          <th>Location</th>
          <th>Sold</th>
        </tr>
      </thead>
      <tbody>
        <% @cars.each do |car| %>
        <tr>
          <td><p class="lead"><%= link_to "#{car.make}", location_car_path(car.location_id, car) %></p></td>
          <td><p class="lead"><%="#{car.model}" %></p></td>
          <td><p class="lead"><%="#{car.price}" %></p></td>
          <td><p class="lead"><%="#{car.location.name}" %></p></td>
          <% if car.sold %>
            <td><p class="lead">Yes</p></td>
          <% else %>
            <td><p class="lead">No</p></td>
          <% end %>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
