<div class="container">
  <div class="row justify-content-center title-padding">
    <h3><%= "Add a Car"%><h3>
  </div>
  <div class="container">
      <%= form_for [@location, @car] do |f| %>
      <form>
        <div class="form-group row">
          <label for="example-text-input" class="col-2 col-form-label">
            <%= f.label :make %>
          </label>
          <div class="col-10">
            <%= f.text_field :make %>
          </div>
        </div>


        <div class="form-group row">
          <label for="example-text-input" class="col-2 col-form-label">
            <%= f.label :model %>
          </label>
          <div class="col-10">
            <%= f.text_field :model %>
          </div>
        </div>

        <%= hidden_field(:car, :location_id, :value => @location.id) %>

        <div class="form-group row">
          <label for="example-text-input" class="col-2 col-form-label">
            <%= f.label :price %>
          </label>
          <div class="col-10">
            <%= f.text_field :price %>
          </div>
        </div>

        <div class="form-group row">
          <label for="example-text-input" class="col-2 col-form-label">
            <%= f.label :sold %>
          </label>
          <div class="col-10">
            <%= f.check_box :sold %>
          </div>
        </div>

        <div class="form-group row">
          <label for="example-text-input" class="col-2 col-form-label">
            <%= f.label :sold_by %>
          </label>
          <div class="col-10">
            <%= f.text_field :sold_by %>
          </div>
        </div>

        <div class="form-group row">
          <label for="example-text-input" class="col-2 col-form-label">
            <%= f.label :sold_price %>
          </label>
          <div class="col-10">
            <%= f.text_field :sold_price %>
          </div>
        </div>

        <div class="form-group row actions" >
          <%= f.submit "Add" %>
        </div>
      </form>
      <% end %>
  </div>
</div>
