-class_name = contact.active? ? "" : "inactive"
%tr.contact{class: class_name, data:{id: contact.id }}
  %td= contact.department.try(:name)
  %td= contact.name
  %td= contact.business_phone
  %td= contact.home_phone
  %td= contact.emergency_contact_name
  %td= contact.emergency_contact_number
  %td
    = link_to 'Show', contact, class: "btn  btn-xs btn-primary"
    -if contact.supervised_by?(current_user)
      = link_to 'Edit', edit_contact_path(contact), class: "btn btn-xs btn-info"
      -label = contact.active? ? 'Active' : 'Inactive'
      -class_name = contact.active? ? 'btn-success' : 'btn-warn'
      = link_to label, toggle_active_contact_path(contact), class: "btn btn-xs #{class_name}", remote: true
    -if current_user.admin?
      = link_to 'Destroy', contact, data: { confirm: 'Are you sure?' }, method: :delete, class: "btn btn-xs btn-danger"
