<p id="notice"><%= notice %></p>

<h1>Contacts</h1>

<table class='table table-striped table-bordered'>
  <thead>
    <tr>
      <th>Dept name</th>
      <th>Contact name</th>
      <th>Business phone</th>
      <th>Extension</th>
      <th>Home phone</th>
      <th>Emergency contact name</th>
      <th>Emergency contact phone</th>
      <th colspan="3">Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @contacts.each do |contact| %>
      <tr>
        <td><%= contact.dept_name %></td>
        <td><%= contact.contact_name %></td>
        <td><%= contact.business_phone %></td>
        <td><%= contact.extension %></td>
        <td><%= contact.home_phone %></td>
        <td><%= contact.emergency_contact_name %></td>
        <td><%= contact.emergency_contact_phone %></td>
        <td><%= link_to 'Show', contact %></td>
        <td><%= link_to 'Edit', edit_contact_path(contact) %></td>
        <td><%= link_to 'Destroy', contact, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


<%= link_to 'New Contact', new_contact_path, class: 'btn btn-default' %>
