<!DOCTYPE html>
<html>
  <head>
    <title>Autosapp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <div>
  <%= link_to 'Locations', locations_url, class: 'btn' %>
  <%= link_to 'Cars', cars_url, class: 'btn' %>
  </div>
  <%= yield %>
    <p id="notice"><%= notice %></p>
  </body>
</html>
