<h1>Vehicle Details</h1>

<p>Make: <%= @vehicle.make %></p>
<p>Model: <%= @vehicle.model %></p>
<p>Price: <%= @vehicle.price %></p>
<p>Location: <%= @vehicle.location.name %></p>

<%= link_to 'Record a sale for this vehicle', new_location_vehicle_sale_path(@vehicle.location, @vehicle) %>