<p id="notice"><%= notice %></p>

<h1>Vehicles</h1>

<% if current_user.position.downcase == 'inventory manager' %>
    <%= link_to 'New Vehicle', new_vehicle_path, class: 'btn btn-sm' %>
<% end %>


<table class="table table-hover">
  <thead>
    <tr>
      <th>#</th>
      <th>Make</th>
      <th>Model</th>
      <th>Price</th>
      <th>Location</th>
      <th colspan="2"></th>
    </tr>
  </thead>
  <tbody>
    <% @vehicles.each do |vehicle| %>
      <tr>
        <td>Sold/Available</td>
        <td><%= link_to vehicle.make, vehicle %></td>
        <td><%= link_to vehicle.model, vehicle %></td>
        <td><%= vehicle.list_price %></td>
        <td><%= vehicle.location.address %></td>
        <td><%= link_to 'Edit', edit_vehicle_path(vehicle) %></td>
        <td><%= link_to 'Destroy', vehicle, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>