<%= form_for([:location, :vehicle, @sale]) do |f| %>
    <% if @sale.errors.any? %>
        <div id="error_explanation">
          <ul>
            <% @sale.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>
    <p>
      <%= f.label :sale_price %> <br>
      <%= f.text_area :sale_price %>
    </p>
    <p>
      <%= f.label :salesman %> <br>
      <%= f.collection_select(:salesman_id, @salesmans, :id, :name) %>
    </p>
    <p>
      <%= f.submit %>
    </p>
<% end %>