<h1>Sale Details</h1>
<p>Date-time of sale: <%= @sale.created_at %></p>
<p>Salesman: <%= @sale.salesman.name %></p>
<p>Vehicle: <%= @sale.vehicle.make %> <%= @sale.model %></p>
<p>Sale Price: <%= @sale.price %></p>