<%= form_for(user) do |f| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :first_name %>
    <%= f.text_field :first_name %>
  </div>

  <div class="field">
    <%= f.label :last_name %>
    <%= f.text_field :last_name %>
  </div>
  <div class="field">
    <%= f.label :department_id, "Department" %>
    <% selected_value = @department ? @department.id : '' %>
    <%= select_tag :department_id, options_from_collection_for_select(@departments, :id, :name, selected_value), include_blank: true %>
  </div>

  <div class="field">
    <%= f.label :home_phone, 'Home Phone' %>
    <%= telephone_field_tag :home_phone, @phone_numbers ? @phone_numbers["Home"] : nil, class: 'special_input' %>
  </div>

  <div class="field">
    <%= f.label :business_phone, 'Business Phone' %>
    <% bus_phone = @phone_numbers['Business'] if @phone_numbers %>
    <%= telephone_field_tag :business_phone, bus_phone ? bus_phone.split('x').first : nil, class: 'special_input' %>
    - Ext: <%= telephone_field_tag :business_phone_ext, bus_phone ? bus_phone.split('x').second : nil, class: 'special_input' %>
  </div>

  <div class="form-group">
    <%= f.label :emergency_contact, 'Emergency Contact' %>
    <div class="field">
      <%=	f.label :contact_name, 'Name' %>
      <%=	f.text_field :contact_name  %>
    </div>
    <div class="field">
      <%=	f.label :contact_number, 'Number' %>
      <%=	f.text_field :contact_number  %>
    </div>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
