<footer class="footer">
  <small>
    The <a href="http://auto-dealership-audition.herokuapp.com/">Verisys <%= @appl.name %> v<%= @appl.version %></a>
    by <a href="https://curtisspendlove.com/"><%= @appl.author %></a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "...",   '#' %></li>
      <li><%= link_to "...", '#' %></li>
    </ul>
  </nav>
</footer>
