<!DOCTYPE html>
<html>
  <head>
    <title>Dealership</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <nav>
    <ul>
      <li><%= link_to 'Home', static_pages_home_path %></li>
      <li><%= link_to 'Vehicles', vehicles_path %></li>
      <li><%= link_to 'Locations', locations_path %></li>
    </ul>
  </nav>
    <%= yield %>
  </body>
</html>
